@media only screen and (min-width: 960px) {
/*-----BODY -----*/
	body {
		background-image: url(..\test.png);
		background-repeat: repeat-x;
	}

/*-----WRAPPER -----*/
	#wrapper {}

/*-----CONTAINER -----*/
	#container {
		margin: 2em auto;
		border: 1px solid #888;
	}

/*-----HEADER -----*/



/*-----NAVigation -----*/



/*-----CONTENT -----*/


#content div.row article{
    width: 50%;
}



figure.w33{
	width: 29%;
}



/*----- FOOTER -----*/


} 